/* =========================================
   MOBILE RESPONSIVE GLOBAL
   MAX WIDTH 768PX
========================================= */
    @media (max-width:768px){
    /* =========================
       TYPOGRAPHY
    ========================= */

    body{
        font-size:14px !important;
        overflow-x:hidden;
    }

    /* =========================
       CONTENT LAYOUT
    ========================= */

    .page-content{

        margin-top:10px !important;

    }




    /* =========================
       INPUT
    ========================= */

    input,
    select,
    textarea{

        font-size:12px !important;

        padding:11px 17px !important;

        min-height:30px !important;

        border-radius:0px !important;

    }

    textarea{

        min-height:15px !important;

    }

    button,
    .btn,
    .btn-print,
    .backup-btn,
    .restore-btn,
    .danger-btn{

        min-height:11px ;

        font-size:10px ;

        padding:22px 31px;

        border-radius:10px;

    }

    .cart-section{

        width:100% !important;

    }

    .cart-item{

        padding:8px !important;

    }

    /* =========================
       TABLE
    ========================= */

    .table-container{

        overflow-x:auto;

        -webkit-overflow-scrolling:touch;

        scrollbar-width:none;

    }
    /* =========================
       LOGIN & SIGNUP
    ========================= */

    .login-card,
    .signup-card{

        width:100% !important;

        max-width:none !important;

        padding:20px !important;

    }

    /* =========================
       BOTTOM NAV
    ========================= */

    .bottom-nav{

        position:fixed;

        bottom:0;

        left:0;

        right:0;

        z-index:9999;

        height:65px !important;

        padding:0 8px !important;

        background:#111827;

        border-top:
        1px solid rgba(255,255,255,.08);

        

    }


    .bottom-nav a{

        font-size:9px !important;

    }

    .bottom-nav i{

        font-size:16px !important;

    }

    .bottom-nav span{

        font-size:9px !important;

    }

    /* =========================
       SAFE AREA
    ========================= */

    body{

        padding-bottom:
        env(safe-area-inset-bottom);

    }

}
